target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
bin/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.jagger-dependency.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

## dir ##
*.log
users/

tree*.txt
.DS_Store

*.pid